/*General CSS*/

a {
	-webkit-transition: all ease 150ms;
	-moz-transition: all ease 150ms;
	-o-transition: all ease 150ms;
	transition: all ease 150ms;
	text-decoration: none;
	color: #26abe2;
	font-weight: bold
}
a:hover {
	text-decoration: underline;
}
a:active {
	color: #47b5e2;
}
blockquote {
	margin: 1em 0;
	border-left: 3px solid #ccc;
	padding-left: 20px;
	text-align: left;
}
body, html {
	margin: 0;
	padding: 0;
}
body, input, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 18px;
}
body {
	line-height: 1.2;
	color: #000;
	background: #F5F6FA;
}
.container {
	width: 70%;
	margin: 0 auto;
	position: relative;
}
.docs-content {
	padding-left: 0;
	text-align: center;
}
.docs-nav {
	background-color: #FCFCFC;
	list-style: none;
	margin: 0 0 0 0;
	padding: 10px 20px;
	font-size: 0.88em;
	position: absolute;
	width: 250px;
	-webkit-transition: top linear 50ms;
	-moz-transition: top linear 50ms;
	-o-transition: top linear 50ms;
	transition: top linear 50ms;
}
.docs-nav.fixed {
	position: fixed;
	top: 100px !important;
	margin: 15px 0px;
	width: 250px;
}
.docs-nav a {
	display: block;
	margin: 5px -20px;
	padding: 0px 20px;
	text-decoration: none;
	border-right: 2px solid transparent;
}
.docs-nav .separator {
	height: 20px;
}
.docs-nav a:active, .docs-nav .active {
	background: #eee;
	border-right: 2px solid #ccc;
}
.docs-nav a:hover {
	background: #eee;
}
dt {
}
dd {
	padding: 0;
	margin: 0 0 25px 0;
}
footer {
	text-align: center;
	padding: 1.5em 0;
}
footer p {
	margin: 0;
	color: #999;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}
h1, h2, h3 {
	line-height: 40px;
}
h1 {
	margin: 0;
	padding: 0;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	padding-top: 10px;
	margin-right: 15px;
}
h2 {
	font-size: 50px;
	line-height: 1.2;
}
h3 {
	font-size: 24.5px;
}
h4 {
	font-size: 17.5px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 11.9px;
}
header {
	width: 100%;
	overflow: hidden;
	padding: 1em 0 1em 0;
	text-align: center;
	background: #26abe2;
	color: #fff;
}
header h2 {
	margin: 0 0 1em 0;
}
header h2.docs-header {
	margin: 0;
}
hr {
	background: #EEE;
	border: 0;
	height: 1px;
	margin: 40px 0 40px;
}
iframe {
	max-height: 100%;
	border: 0 !important;
}
img {
	height: auto;
}
img, iframe {
	max-width: 100%;
}
input {
	display: block;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
input:focus {
	border-color: #007eb2;
	outline: 0;
}
nav {
	background: #135571;
	padding: 10px 0;
	min-height: 60px;
}
nav #menu {
	overflow: hidden;
	max-height: 9999px;
	clear: none;
}
nav a {
	padding: 0.4em;
	color: #FFF;
	font-size: 1.05vw;
	height: 60px;
	line-height: 75px;
	display: block;
}
nav a:hover {
	background: #195974;
	text-decoration: none;
}
nav a:active {
	background: #27637e;
}
nav a:active {
	color: #fff;
	cursor: default;
}
nav:after, header:after, section:after {
	clear: both;
}
nav:before, nav:after, header:before, header:after, section:before, section:after {
	content: " ";
	display: table;
}
nav, header, section {
*zoom: 1;
}
nav h1 a {
	height: 46px;
	line-height: 0;
	line-height: 45px;
	margin: -3px 0px 0px 0px;
	padding: 0px 0px 0px;
	float: left;
	color: #FFF;
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
}
nav li, nav a {
	float: left;
}
nav, nav #menu {
	height: 60px !important;
}
nav ul, nav li {
	margin: -15px;
	padding: 0;
	list-style: none;
}
nav ul.toplinks {
	float: left;
	padding: 0;
	clear: none;
}
nav ul.toplinks li {
	margin: 0 0 0 10px;
}
section {
	padding: 1em 0px;
	text-align: center;
	text-align: left;
}
section.centered {
	text-align: center;
}
section.vibrant {
	background: #000;
	color: #fff;
}
strong, dt, h3, h4 {
	font-weight: 700;
}

/* Screen Settings */

@media screen and (max-width: 1400px) {
nav #menu-toggle {
	display: none !important;
}
.mobile-only-links {
	display: none !important;
}
nav a {
	padding: 0.4em;
	font-size: 1.2vw;
	line-height: 75px;
}
}

@media only screen and (max-width: 1020px) {
body {
	margin-top: 45px;
}
.docs-content {
	padding-left: 0;
}
.docs-nav {
	display: none;
}

/* Breadcrumbs Sticky  */

div.sticky.stuckElement.isStuck {
	display: none !important;
}
div.sticky.stuckElement.isStuck a {
	display: none !important;
}

nav #existing-content-menu {
	position: absolute;
	right: 0px;
	font-size: 1.5em;
	top: 0px;
	line-height: 60px;
	padding: 0px 16px;
}
nav #menu {
	max-height: 0 !important;
}
section {
	text-align: left;
}

/* Slide Menu Theme Selector */

.sidr-class-light-theme {
	display: none !important;
}
}

@media screen and (min-width: 1025px) {
nav #existing-content-menu {
	display: none !important;
}
.mobile-only-links {
	display: none !important;
}
}
/* Custom Additions */

/* Changelog Tags */

.jmmdesktop {
	color: #008080;
	font-weight: 600;
}
.jmmserver {
	color: #003366;
	font-weight: 600;
}
.plex {
	color: #880000;
	font-weight: 600;
}
.ma3 {
	font-weight: 600;
}

/* To-Do Tags */

.in-progress {
	font-weight:600;
}
.done {
	text-decoration: line-through;
}

/* Alerts */

.alert-box {
	color: #555;
	max-width: 90%;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px 36px;
	margin: 10px;
}
.alert-box span {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: underline;
}
.error {
	background: #ffecec url('../images/site/error.png') no-repeat 10px 50%;
	border: 1px solid #f5aca6;
}
.success {
	background: #e9ffd9 url('../images/site/success.png') no-repeat 10px 50%;
	border: 1px solid #a6ca8a;
}
.warning {
	background: #fff8c4 url('../images/site/warning.png') no-repeat 10px 50%;
	border: 1px solid #f2c779;
}
.notice {
	background: #e3f7fc url('../images/site/notice.png') no-repeat 10px 50%;
	border: 1px solid #8ed9f6;
}
/* Style.CSS Switcher */

.light-theme {
	display: none;
}
/* Sticky Menu */

nav.sticky.stuckMenu.isStuck {
	z-index: 15;
	width: 100%;
}
sticky.ul#menu-left.docs-nav {
	background-color: #000;
}
div.sticky.stuckElement.isStuck {
	z-index: 99;
	background: rgb(19, 85, 113) none repeat scroll 0% 0%;
	width: 100% !important;
	top: 60px !important;
	left: 0px;
	padding: 0px 95px;
}
div.sticky.stuckElement.isStuck a {
	color: #FFF;
	font-size: 1.4em;
}

/* Discord */

.discord {
	width: 32px;
	height: 32px;
	margin: -10px 10px;
}
img.sidr-class-discord {
	width: 24px;
	height: 24px;
	margin: -5px 5px;
}
/* Workaround for ScollTo & Sticky Header Problem */

.anchor {
	display: block;
	position: absolute;
	height: 103px; /*same height as header*/
	margin-top: -103px; /*same height as header*/
	visibility: hidden;
}
/* Drop-Down Menu */

.click-nav {
	margin: 0;
}
.click-nav ul {
	list-style: none;
	margin: 0px -40px;
	width: 244px;
}
.click-nav ul li ul {
	margin: 0px -40px 15px;
}
a.clicker.active:after {
	margin: 10px;
	content: "\25bc";
}
a.clicker:after {
	margin: 10px;
	content: "\25b6";
}
clicker {
	display: block;
}
/* Fallbacks */

.click-nav .no-js ul {
	display: none;
}
.click-nav .no-js:hover ul {
	display: block;
}
/* Tabs */

.r-tabs {
	position: relative;
}
.r-tabs .r-tabs-nav {
	border-bottom: 1px solid #ccc;
}
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	top: 1px;
}
.r-tabs .r-tabs-nav .r-tabs-anchor {
	background: #00aadd;
	margin-bottom: 3px;
	padding: 10px 12px;
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.r-tabs .r-tabs-nav .r-tabs-state-active {
	background-color: #fff;
	margin-bottom: -1px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #00aadd;
	background-color: #fff;
}
.r-tabs .r-tabs-panel {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 3px;
}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #00aadd;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 3px;
}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #00aadd;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	margin-bottom: 0;
}

/* Breadcrumbs */

.rcrumbs {
  line-height: 18px;
  white-space: nowrap;
}
.rcrumbs > ul {
  padding: 0;
  height: 10px;
  list-style: none;
}
.rcrumbs > ul > li {
  overflow: hidden;
  display: none;
}
.rcrumbs > ul > li.show {
  display: inline-block;
  height: 25px;
}
.rcrumbs > ul > li.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}
.rcrumbs .divider {
  font-weight: 600;
  padding: 0 10px;
}

/* Custom Table */

.BlueTable {
	margin: 0px;
	padding: 0px;
	max-width: 90%;
	border: 1px solid #000;
}
.BlueTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.BlueTable td {
	vertical-align: middle;
	border: 1px solid #000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}
.BlueTable tr:last-child td {
	border-width: 0px 1px 0px 0px;
}
.BlueTable tr td:last-child {
	border-width: 0px 0px 1px 0px;
}
.BlueTable tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}
.BlueTable tr:first-child td {
	background: -o-linear-gradient(bottom, #26abe2 5%, #26abe2 100%);
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #26abe2), color-stop(1, #26abe2) );
	background: -moz-linear-gradient( center top, #26abe2 5%, #26abe2 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#26abe2", endColorstr="#26abe2");
	background: -o-linear-gradient(top, #26abe2, 26abe2);
	background-color: #26abe2;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
}
.BlueTable tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}
.BlueTable tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}
